{% extends "layout.html" %}

{% block page_title %}
Licence Application
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
         <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
            Autonomous Truck Licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
        
        <section id="truckinformationmodel">
             <form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
Truck Model
        </h1>
      </legend>

      <div class="multiple-choice" data-target="Volvo A-01">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        <label for="example-contact-by-email">Volvo A-01</label>
      </div>
    
<div class="multiple-choice" data-target="Mercedes-Benz Future Truck 2025">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-phone">Mercedes-Benz Future Truck 2025</label>
      </div>
    
      <div class="multiple-choice" data-target="Daimler Freightliner">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-phone">Daimler Freightliner</label>
      </div>
    </fieldset>
  </div>
</form>
        </section>

        <br>
           <a href="1-6licenceamount.html"><input class="button" type="submit" value="Save and continue" > </a>

     
    </div>
  </div>
</main>

{% endblock %}


