{% extends "layout.html" %}

{% block page_title %}
Licence Application
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
         <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
            Autonomous Truck Licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
        
        <form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
          How many licences are you applying for?
        </h1>
      </legend>

      <div class="multiple-choice" data-target="contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        <label for="example-contact-by-email">1-5</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
        <p>Make sure you are aware of the prices regarding licences and driver applications under this question.</p>
      </div>
        
        
        
        

      <div class="multiple-choice" data-target="contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-phone">6-10</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
          <p>Make sure you are aware of the prices regarding licences and driver applications under this question.</p>
      </div>
        
        
        

      <div class="multiple-choice" data-target="contact-by-text">
        <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-text">11-20</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <p>Make sure you are aware of the prices regarding licences and driver applications under this question.</p>
      </div>
        
        
        
        
        <div class="multiple-choice" data-target="contact-by-textla">
        <input id="example-contact-by-textla" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-textla">21-30</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-textla">
          <p>Make sure you are aware of the prices regarding licences and driver applications under this question.</p>
      </div>

        
        
        
        
        
        <div class="multiple-choice" data-target="contact-by-textta">
        <input id="example-contact-by-textta" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-textta">31+</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-textta">
          <p>Make sure you are aware of the prices regarding licences and driver applications under this question.</p>
      </div>
        
    </fieldset>
  </div>
</form>
        
        <details>

  <summary><span class="summary">Licence Costs</span></summary>

  <div class="panel panel-border-narrow">

    <table>
  <thead>
    <tr>
      <th scope="col">Number of licences</th>
      <th class="numeric" scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1-5</th>
      <td class="numeric">£75 per driver</td>
    </tr>
    <tr>
      <th scope="row">6-10</th>
      <td class="numeric">£72 per driver</td>

    </tr>
    <tr>
      <th scope="row">11-20</th>
      <td class="numeric">£69 per driver</td>

    </tr>
    <tr>
      <th scope="row">21-30</th>
      <td class="numeric">£66 per driver</td>

    </tr>
      <tr>
      <th scope="row">31+</th>
      <td class="numeric">£63 per driver</td>

    </tr>
  </tbody>
</table>

  </div>

</details>

<br>
           <a href="check-your-information.html"><input class="button" type="submit" value="Save and continue" > </a>

     
    </div>
  </div>
</main>

{% endblock %}


