{% extends "layout.html" %}

{% block page_title %}
Licence Application
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
         <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
            Autonomous Truck Licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
        
        <section>

      <legend>
        <h1 class="heading-medium">
          How many licences are you applying for?
        </h1>
      </legend>

      <label class="form-label" for="ni-number">
  <span class="form-hint">
    For example, ‘15’.
  </span>
</label>
        <div class="form-date">
<div class="form-group form-group-day">
<label class="form-label" for="dob-day"></label>
<input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
</div>
        <br>
            </section>
            
        <br>
        
        <details>

  <summary><span class="summary">Licence Costs</span></summary>

  <div class="panel panel-border-narrow">

    <table>
  <thead>
    <tr>
      <th scope="col">Number of licences</th>
      <th class="numeric" scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1-5</th>
      <td class="numeric">£75 per driver</td>
    </tr>
    <tr>
      <th scope="row">6-10</th>
      <td class="numeric">£72 per driver</td>

    </tr>
    <tr>
      <th scope="row">11-20</th>
      <td class="numeric">£69 per driver</td>

    </tr>
    <tr>
      <th scope="row">21-30</th>
      <td class="numeric">£66 per driver</td>

    </tr>
      <tr>
      <th scope="row">31+</th>
      <td class="numeric">£63 per driver</td>

    </tr>
  </tbody>
</table>

  </div>

</details>

<br>
           <a href="check-your-information.html"><input class="button" type="submit" value="Save and continue" > </a>

     
    </div>
  </div>
</main>

{% endblock %}


