{% extends "layout.html" %}

{% block page_title %}
  Confirmation page driver
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
<a href="javascript:history.back()" class="link-back">Back</a>
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application Progress
        </h1>
        <p class="font-large">
          Your application is<br>
          <strong class="bold">CONFIRMED</strong> 
        </p>
      </div>

      <p>
          Your unique company login information is:</p>
        <ul class="list list-bullet">
        <li>Username: ExampleLtd</li>
        <li>Password: rDXNVMh6vKVz</li>
        <li>Make note of this password as it is randomly generated and cannot be changed</li>
        </ul>

      <h2 class="heading-medium">What happens next</h2>
      <p>
        </p>
      
        
      <p>Although your application has been accepted, you still will be required to pay for your licences which can be done through GOV.UK/pay <a href="https://www.payments.service.gov.uk/">here.</a></p>
        
              <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
