{% extends "layout.html" %}

{% block page_title %}
Application Progress
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
<a href="javascript:history.back()" class="link-back">Back</a>
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application Progress
        </h1>
        <p class="font-large">
          Your application is <br>
          <strong class="bold">IN PROGRESS</strong> 
        </p>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>We've sent your application to the Driver and Vehicle Standard Agency in Bristol.</p>
        
        <p>Your application is currently pending. Keep checking this page for updates, the typical waiting time for approval is 1 to 2 weeks.</p>
     
        <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
