{% extends "layout.html" %}

{% block page_title %}
  Confirmation page company
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application complete
        </h1>
        <p class="font-large">
          Your reference number is <br>
          <strong class="bold">HDJ2123F</strong>
        </p>
      </div>
<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
Your application reference number will need to be kept safe as it will be used to check the progress of your application. 
  </strong>
        </div>
    

      <h2 class="heading-medium">What happens next</h2>
      <p>A hard copy of your application will be sent to the Company Office Address provided. The hard copy will include the application reference number should another copy be needed.</p>

        
        <p>Your application is currently pending. You can check the progress of your application by entering your reference number<a href="index.html"#check>here</a>The typical waiting time for approval is 1 to 2 weeks.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
