{% extends "layout.html" %}

{% block page_title %}
  Confirmation page driver
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application complete
        </h1>
        <p class="font-large">
          Your reference number is <br>
          <strong class="bold">EXA1234E</strong> 
        </p>
      </div>
        
        <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
Your application reference number will need to be kept safe as it will be used to check the progress of your application. 
  </strong>
        </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>Your application for Example Ltd. has been submitted and is currently pending. Your Driver’s Licence number will be checked for validity by the DVLA. This typically takes 1 to 2 working days. You can check the progress of your application by entering your reference number <a href="index.html#check">here.</a></p>
        
        
      <p>Once your application has been accepted, your new Autonomous Truck licence will be printed and sent to your Company’s Registered Office. This typically takes 1 to 2 weeks.</p>
        
        
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
