{% extends "layout.html" %}

{% block page_title %}
Driver Login
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
         <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
            Autonomous Truck Licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      
        <h3 class="heading-medium">Driver Login</h3>
        
        <p>
This will be provided by your employer.
</p>
        
<h4 class="heading-small">Username</h4>

<input class="form-control" id="ni-number" type="text" name="ni-number">
        
        
        <section id="companymanagerinfostorename"><h4 class="heading-small">Password</h4>

            <input class="form-control" id="ni-number" type="text" name="ni-number"></section>
       
        <br>
        
           <a href="2-1name.html"><input class="button" type="submit" value="Login" > </a>

     
    </div>
  </div>
</main>

{% endblock %}


