{% extends "layout.html" %}

{% block page_title %}
Home Page
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
        
        <h3 class="heading-medium">Driver Application</h3>
        
        <p>This page will navigate through to the driver application.</p>

        <p>When the company application is complete drivers will have access to a unique login that will be used to fulfill the driver application.</p>

      <p>
        <a class="button button-start" href="2-1name.html" role="button">Start now</a>
      </p>
        
    </div>
    <div class="column-third">

    </div>
  </div>

</main>

{% endblock %}
