{% extends "layout.html" %}

{% block page_title %}
FAQ
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
        <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
        

        <h3 class="heading-medium">Why is the service being introduced?</h3>
      <p>
With the advancement of autonomous vehicles, the UK government has introduced a new law that requires companies that own autonomous trucks for goods distribution to have licenses for their trucks, the law is currently in a beta stage and is only open to large companies at this time. Only 3 truck manufacturers are currently producing autonomous trucks; Volvo, Mercedes and Daimler. 
        </p>
        
        
        <h3 class="heading-medium">What is the service?</h3>
      <p>
        A new licence/service that allows a company to apply for a single licence to register their entire fleet of autonomous trucks. 
        </p>
        
        <p>
        As of now the new service is open to large companies that meet the requirements in this page. 
        </p>
        
        <p>
            This page contains the details that a driver and store will be required to know. 
        </p>
        
    <h3 class="heading-medium">Is your company eligible for the licence?</h3>
      <p>
        The following are the requirements that a company has to meet before they are contacted for participation in this beta.
        </p>
        <ul class="list list-bullet">
            <li>The company needs to be a private limited company</li>
            <li>The company will need to be registered with the government</li>
            <li>It will have a valid tax number</li>
            <li>The company will need to be actively trading</li>
        </ul>
      

      <p>View the required details for the licence</p>

      <p>
        <a class="button button-start" href="requireddetails.html" role="button">Start now</a>
      </p>
        
    </div>
    <div class="column-third">

    </div>
  </div>

</main>

{% endblock %}
