{% extends "layout.html" %}

{% block page_title %}
Home Page
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
        
        <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>See if your company is eligible to apply for the licence</li>
        <li>Apply for an autonomous truck licence for your company</li>
        <li>View the details required for the licence</li>
      </uL>

      <p>Applying takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="1-1storename.html" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

        <p>Read through the required details.</p>
        
        <p>See if your company is eligible.</p>
        
        <p>Speak with your company regarding the purchase of an autonomous truck.</p>
        
        <p>
  <a href="FAQ.html">View the FAQ</a>, it contains some short relevant information surrounding the new service.</p>
        
        <h2 class="heading-medium">Additional services</h2>
        <section id="check">
        <p>To check the progress of your application, enter your reference number below. This was provided during your initial application. If you have lost your application reference number, contact the DVLA <a href="https://www.gov.uk/contact-the-dvla">here</a>.</p>
        <a href="appprogress-confirmed.html"><input class="button" type="submit" value="Check Application" > </a>
        <input class="form-control" id="ni-number" type="text" name="ni-number">
        <p><a href="appprogress-confirmed.html">*Accepted Application Demo*</a></p>
    
        </section>
        <p>If your company's application has already been accepted, <a href="company-login.html">click here</a> to login.</p>
        
        <p>If you are an employee looking to register to your company licence, <a href="driver-login.html">click here.</a></p>
        
    </div>
      
      
    </div>
    
    <div class="column-third">

    </div>
  </div>

</main>

{% endblock %}
