{% extends "layout.html" %}

{% block page_title %}
Manage Your Licences
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
         <a href="javascript:history.back()" class="link-back">Back</a>
        
      <h1 class="heading-xlarge">
            Autonomous Truck Licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
    
            
    <h3 class="heading-medium">Your registered drivers.</h3>
      <p>
        
        </p>
<details>

  <summary><span> class="summary"<span class="form-hint"> Licence one</span></span></summary>

  <div class="panel panel-border-narrow">

    <table>
  <thead>
    
  </thead>
  <tbody>
    <tr>
      <th scope="row">Not in use</th>

    </tr>
      <tr>
      <th scope="row">Username</th>
      <td class="numeric">ExampleLtd-01</td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td class="numeric">8ZkLewq9RDJc</td>

    </tr>
      
      
    
  </tbody>
</table>

  </div>

</details>
            <details>
            <summary><span class="summary">Licence two</span></summary>
  <div class="panel panel-border-narrow">
    <table>
  <thead>
  </thead>
  <tbody>
    <tr>
       <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Driver Name
          </dt>
          <dd class="cya-answer">
            Franklin Roth
          </dd>
        </div>

        <div>
          <dt class="cya-question">
              Driver Licence Number
          </dt>
          <dd class="cya-answer">
            FBAD456781D09PT
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Employee Number
          </dt>
          <dd class="cya-answer">
            098765678
          </dd>
        </div>
        <div>
          <dt class="cya-question">
              <a href="#">Remove Employee</a>
          </dt>
        </div>
      </dl>
    </tr>
    <tr>

  </tbody>
</table>
  </div>
            </details>
        
        <details>
                
            <summary><span class="summary">Licence three</span></summary>
  <div class="panel panel-border-narrow">
    <table>
  <thead>
  </thead>
  <tbody>
    <tr>
       <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Driver Name
          </dt>
          <dd class="cya-answer">
            Dominic Lobban
          </dd>
        </div>

        <div>
          <dt class="cya-question">
              Driver Licence Number
          </dt>
          <dd class="cya-answer">
            LBOD345671L01GF
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Employee Number
          </dt>
          <dd class="cya-answer">
            789876512
          </dd>
        </div>
        <div>
          <dt class="cya-question">
              <a href="#">Remove Employee</a>
          </dt>
        </div>
      </dl>
    </tr>
    <tr>

  </tbody>
</table>
  </div>
</details>

        <details>
            <summary><span class="summary">Licence four</span></summary>
  <div class="panel panel-border-narrow">
    <table>
  <thead>
  </thead>
  <tbody>
    <tr>
       <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Driver Name
          </dt>
          <dd class="cya-answer">
            Izaac Field
          </dd>
        </div>

        <div>
          <dt class="cya-question">
              Driver Licence Number
          </dt>
          <dd class="cya-answer">
            AMIM567841E18KW
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Employee Number
          </dt>
          <dd class="cya-answer">
            783987423
          </dd>
        </div>
        <div>
          <dt class="cya-question">
              <a href="#">Remove Employee</a>
          </dt>
        </div>
      </dl>
    </tr>
    <tr>

  </tbody>
</table>
  </div>
            
</details>
        
        <details>
            <summary><span class="summary">Licence five</span></summary>
  <div class="panel panel-border-narrow">
    <table>
  <thead>
  </thead>
  <tbody>
    <tr>
       <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Driver Name
          </dt>
          <dd class="cya-answer">
            Kwame Webster
          </dd>
        </div>

        <div>
          <dt class="cya-question">
              Driver Licence Number
          </dt>
          <dd class="cya-answer">
            MELP678921E18ME
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Employee Number
          </dt>
          <dd class="cya-answer">
            098857561
          </dd>
        </div>
        <div>
          <dt class="cya-question">
              <a href="#">Remove Employee</a>
          </dt>
        </div>
      </dl>
    </tr>
    <tr>

  </tbody>
</table>
  </div>
            
</details>
        <br>
        <br>
        <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
You have used 4 out of 5 licences.
  </strong>
        </div>
        <br>
        <p>To register another driver to the licence, login with the information provided.</p>
        
        
    </div>
  </div>
</main>

{% endblock %}


